target/
*.iml
log/
#idea
.idea
*.iws
*.ipr
.mvn
mvnw
mvnw.cmd
# Compiled class file
*.class

# Log file
*.log
logs
.DS_Store
tmp

# Package Files #
*.jar
*.war
/temp/00000001/temp.html
/temp/127001/temp.html
/temp/
