@charset "utf-8";

.container {
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
    width: 100%;
    align-content: center;text-align: center;
}

.container h3 {
    overflow: hidden;
    margin-bottom: 20px;
    height: 40px
}

.container h3 span {
    color: #2a96ff;
    font-size: 31px;
    line-height: 40px
}

#font-effect-info {
    display: none;
    font-size: 16px;
    margin-top: 10px;
    height: 40px;
    position: relative;
    font-family: microsoft yahei, serif
}

#font-effect-info span {
    color: #2a96ff;
    overflow: hidden;
    font-size: 25px;
    line-height: 40px
}
