<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>jquery特效文字动画</title>
    <link rel="stylesheet" type="text/css" href="../static/fonts/style.css">
</head>
<body>
<div class="container">
    <h3 id="font-effect" style="color: rgb(0, 0, 0); height: 40px; visibility: visible; display: block;"><span
            style="opacity: 1; visibility: visible; position: absolute;">爬</span><span
            style="opacity: 1; visibility: visible; position: absolute;">虫</span><span
            style="opacity: 1; visibility: visible; position: absolute;">工</span><span
            style="opacity: 1; visibility: visible; position: absolute;">具</span></h3>
    <p id="font-effect-info" style="color: rgb(0, 0, 0); height: 40px; visibility: visible; display: block;"><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span><span
            style="opacity: 1; visibility: visible; position: absolute;"></span></p>
</div>
<script src="../static/zyupload/js/jquery.min.js"></script>
<script src="../static/fonts/jquery.easing.1.3.js"></script>
<script src="../static/fonts/core_plugin.js"></script>
<script src="../static/fonts/custom_effect.js"></script>

</body>
</html>
